<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Youtube Clone</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>video_call</mat-icon>
      </button>
      <span> {{username}}</span>
      <button mat-button routerLink="/login" *ngIf="!isAuthenticated && isNotLoginPage()">
        Login
      </button>
      <button mat-button routerLink="/login" *ngIf="isAuthenticated" (click)="logout()">
        Logout
      </button>
     
    </mat-toolbar-row>
  </mat-toolbar>