<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <a routerLink="/">Youtube Clone</a>
      </span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/upload-video">
        <mat-icon>video_call</mat-icon>
      </button>
      <span> {{username}}</span>
      <button mat-button routerLink="/login" *ngIf="!loggedIn()">
        Login
      </button>
      <button mat-button routerLink="/login" *ngIf="loggedIn()" (click)="onLogout()">
        Logout
      </button>
     
    </mat-toolbar-row>
  </mat-toolbar>